<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="nav-link" href="/railway_stations">Список станцій</a>
    <a class="nav-link" href="/trains">Список поїздів</a>
    <a class="nav-link" href="/routes">Список маршрутів</a>
  </div>
</nav>

<%= render 'layouts/footer' %>