<!DOCTYPE html>
<html>
  <head>
    <title>Tutu | Train</title>
    <link rel="icon" type="image/png" href="https://st2.depositphotos.com/1719108/7264/i/450/depositphotos_72643371-stock-photo-cartoon-steam-train.jpg">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
